#main{
  background-color: #eee;
  margin: 20px auto;
}
#title{
  text-align: center;
}
#img-div{
  width:70%;
  margin: auto;
}
#img-caption p{
  font-size: 0.8em;
  margin-top: 10px;
}
#tribute-info li{
  padding-bottom: 20px;
}
